<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Quizzes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Quizzes</h1>
{% if quiz_list %}
    <ul>
    {% for quiz in quiz_list %}
        <li><a href="{% url 'quizzes:display_quiz' quiz.id %}">{{ quiz.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No quizzes are available.</p>
{% endif %}
    </div>

</body>
</html>
